# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


https://localhost:4200/#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrNHh5b2pORnVtMWtsMll0djhkbE5QNC1jNTdkTzZRR1RWQndhTmsifQ.eyJleHAiOjE2NjIzMzEyODMsIm5iZiI6MTY2MjMyNzY4MywidmVyIjoiMS4wIiwiaXNzIjoiaHR0cHM6Ly9tdnB0ZWxlY29tLmIyY2xvZ2luLmNvbS8yNGY0YzQzOC1jODYyLTQxYjUtODA2Zi03YWY3NzgwMzkwY2MvdjIuMC8iLCJzdWIiOiIyY2VlYTNmZS1lZGIwLTQ2YWItOTg4Yi05YjBmNGI0YTFhNjQiLCJhdWQiOiI3NjYxNGFjOS0wZDdmLTRmYTItYmViNy0yZTU1ODhiNDBhOTAiLCJub25jZSI6ImRlZmF1bHROb25jZSIsImlhdCI6MTY2MjMyNzY4MywiYXV0aF90aW1lIjoxNjYyMzI3NjgzLCJuYW1lIjoiU3llZCBBbGkiLCJnaXZlbl9uYW1lIjoiU3llZCIsImZhbWlseV9uYW1lIjoiQWxpIiwidGZwIjoiQjJDXzFfbXZwdGVsZWNvbS1jbGllbnQifQ.P4Z665ZRFx_FEJ9V_nyXur5znaPPwwigPlWZZP5fCNE7ddkQ3dS3gzpUCoReNu_HTVwyZLNdg6eHTVx-5dKZC41EapAJrpnMO0tMfmvoebIY_OAYDzbMISx1Zj2UDvKJqeT5tL07iB6gtBcwy3ITH6TbV2xpYlPVWyl6DO9RD4gCydbePhFXjueBDl0MnUDXtR5zyk6T9vRYEqFLVEUP1Wa3uOsMXO0T8-MaFPZK_1xPhvi8sYAd-3YGzb6RBD5WAeWXfmV4gM9dso7GiUP_uL36wYaZ3eS86ngKmHS6upMry2HSzLgR20tRI1W3GtSXM2IYmuxH68vhGpCtQmrZ0Q